<p-table [value]="portfolios" dataKey="name" editMode="row">
  <ng-template pTemplate="caption">
      List of Portfolios
      <p-button class="btnAdd" label="ADD" (onClick)="onPortfolioAdd()"></p-button>
    </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
          <th>Name</th>
          <th>Author</th>
          <th>Price</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="rowData">
        <td>                
          {{rowData.regNum}}
     
      </td>
          <td>                
                      {{rowData.name}}
                 
          </td>
          <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.author">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.author}}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td>
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.price">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.price}}
                  </ng-template>
              </p-cellEditor>
          </td>
          <td style="text-align:center">
              <p-button class="btnAdd" icon="pi pi-trash" class="ui-button-info" style="margin-right: .5em"
               (onClick)="deletePortfolio(rowData)"></p-button>
              <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                  class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
              <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                  class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
              <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                  class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
          </td>
      </tr>
  </ng-template>
</p-table>


<p-dialog header="Portfolio Details" [(visible)]="displayDialog"
        [responsive]="true" showEffect="fade" [modal]="true">
  <form #portFolioForm="ngForm" novalidate>
      <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="portfolioForDialog">
        <div class="ui-g ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-3 ui-label">
              <label for="regNum">Portfolio Reg Number</label>
          </div>
          <div class="ui-g-12 ui-md-9">
              <input pInputText id="fname" name="regNum" required
                     [(ngModel)]="portfolioForDialog.regNum"/>
          </div>
      </div>
          <div class="ui-g ui-g-12 ui-g-nopad">
              <div class="ui-g-12 ui-md-3 ui-label">
                  <label for="fname">Portfolio Name</label>
              </div>
              <div class="ui-g-12 ui-md-9">
                  <input pInputText id="fname" name="fname" required
                         [(ngModel)]="portfolioForDialog.name"/>
              </div>
          </div>
          <div class="ui-g ui-g-12 ui-g-nopad">
              <div class="ui-g-12 ui-md-3 ui-label">
                  <label for="lname">Author</label>
              </div>
              <div class="ui-g-12 ui-md-9">
                  <input pInputText id="lname" name="lname" required
                         [(ngModel)]="portfolioForDialog.author"/>
              </div>
          </div>
          <div class="ui-g ui-g-12 ui-g-nopad">
              <div class="ui-g-12 ui-md-3 ui-label">
                  <label for="prof">Price</label>
              </div>
              <div class="ui-g-12 ui-md-9">
                  <input pInputText id="prof" name="prof" required
                         [(ngModel)]="portfolioForDialog.price"/>
              </div>
          </div>
          
      </div>
  </form>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="submit" pButton icon="fa-check" (click)="savePortfolio()"
                  label="Save" [disabled]="!portFolioForm.form.valid"></button>
      </div>
  </p-footer>
  </p-dialog>